/* team section */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;800&display=swap");
@mixin mQ($rem) {
  @media screen and (min-width: $rem) {
    @content;
  }
}

$position: -0.375rem;

.team-images > * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.team-images body {
  background: #171717;
  min-height: 100vh;
}

.card img {
  max-width: 100%;
  display: block;
}

.card-content ul {
  list-style-type: none;

  i {
    color: #fff;
    font-size: clamp(0.9rem, 0.825rem + 0.3vw, 1.2rem);

    &:hover {
      color: #f2709c;
    }
  }
}

.team-images {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  padding-block: min(20vh, 6rem);
  text-align: center;
  width: calc(min(90rem, 90%));
  margin-inline: auto;

  span,
  p,
  h2,
  h3 {
    letter-spacing: 0.035rem;
  }

  p {
    line-height: 1.6;
    color: #a3a3a3;
    max-width: 50rem;
    margin: 0 auto;
    font-size: clamp(0.9rem, 0.825rem + 0.3vw, 1.2rem);
  }

  .bg-watermark {
    color: #1f1f1f;
    font-size: clamp(6rem, 1.3333rem + 14.9333vw, 20rem);
    font-weight: 800;
    position: absolute;
    z-index: -1;
    left: 50%;
    transform: translatex(-50%) translatey(-15%);
    user-select: none;
    letter-spacing: 0.5rem;
  }

  span {
    text-transform: uppercase;
    display: block;
    font-size: 1.2rem;
    color: #a3a3a3;
  }

  h2 {
    font-size: clamp(3.5rem, 3rem + 1.6vw, 5rem);
    margin-top: -0.625rem;
    color: #fff;
  }

  .cards {
    margin-top: 7rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(12rem, 100%), 1fr));
    gap: 2rem;

    @include mQ(51rem) {
      gap: 0;
      padding-bottom: 2.5rem;
    }

    .card {
      position: relative;
      cursor: pointer;

      h3,
      p {
        text-transform: capitalize;
      }

      h3 {
        font-size: clamp(1rem, 0.9167rem + 0.2667vw, 1.25rem);
        font-weight: 400;
        color: #f6f6f6;
      }

      p {
        font-size: clamp(0.85rem, 0.75rem + 0.32vw, 1.15rem);
        letter-spacing: 0.12rem;
        font-weight: 300;
        max-width: 100%;
      }

      &::before {
        position: absolute;
        content: "";
        width: 5rem;
        height: 6.25rem;
        z-index: 0;
        transition: 0.3s ease-in-out;
        background: #f2709c;
        background: -webkit-linear-gradient(to left, #ff9472, #f2709c);
        background: linear-gradient(to left, #ff9472, #f2709c);
        top: $position;
        left: $position;
      }

      &::after {
        position: absolute;
        inset: 0;
        content: "";
        width: 100%;
        height: 100%;
        background: #232526;
        background: -webkit-linear-gradient(
          to bottom,
          hsl(210deg 2.99% 26.27% / 20%),
          hsl(0deg 0% 3.14% / 90%)
        );
        background: linear-gradient(
          to bottom,
          hsl(210deg 2.99% 26.27% / 20%),
          hsl(0deg 0% 3.14% / 90%)
        );
      }

      img {
        filter: grayscale(100%);
        transition: 0.5s ease;
      }

      &-content {
        position: absolute;
        bottom: 0;
        z-index: 99;
        left: 0;
        color: #fff;
        width: 100%;
        padding: 1.875rem 1.25rem;
        text-align: center;

        ul {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 0.625rem;
          margin-top: 1.25rem;
        }
      }

      &:hover img {
        filter: grayscale(0%);
      }

      &:hover::before {
        transform: scale(1.03);
      }
    }
    .card:nth-child(1) {
      &::before {
        top: $position;
        left: $position;
      }
    }
    .card:nth-child(2) {
      @include mQ(31.25rem) {
        transform: translatey(15%);
      }

      &::before {
        bottom: $position;
        left: $position;
        top: auto;
      }
    }
    .card:nth-child(3) {
      &::before {
        top: $position;
        left: $position;
      }
    }
  }
}


/*-- -------------------------- -->
<---        Content Page        -->
<--- -------------------------- -*/


#maximum-effort{ 
   
background-image: url('bg.jpg');
background-attachment: fixed; /* This creates the parallax effect */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}



.img-1 {
    display: block;
    
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}


/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #content-page-713 {
        padding: var(--sectionPadding);
        background-color: transparent;
        /* clips the wave background from causing overflow issues when it goes off screen */
        overflow: hidden;
        position: relative;
        z-index: 1;
    }
    #content-page-713 .cs-container {
        width: 100%;
        max-width: 80rem;
        margin: auto;
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
        position: relative;
    }
    #content-page-713 .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: left;
        width: 100%;
        max-width: 46.125rem;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: flex-start;
    }
    #content-page-713 .cs-content img {
        width: 100%;
        height: auto;
        margin: 1rem 0;
        display: block;
    }
    #content-page-713 .cs-title {
        font-size: var(--headerFontSize);
        font-weight: 900;
        line-height: 1.2em;
        text-align: inherit;
        width: 100%;
        max-width: 100%;
        margin: 0 0 1rem 0;
        color: var(--headerColor);
        position: relative;
    }
    #content-page-713 h2,
    #content-page-713 h3,
    #content-page-713 h4,
    #content-page-713 h5,
    #content-page-713 h6 {
        font-weight: 700;
        text-align: inherit;
        margin: 0 0 1rem 0;
        color: var(--headerColor);
    }
    #content-page-713 h2 {
        font-size: 2rem;
        margin-top: 2rem;
    }
    #content-page-713 h3 {
        font-size: 1.5rem;
        color: var(--primary);
        background-color: var(--headercolor);
    }
    #content-page-713 h4,
    #content-page-713 h5,
    #content-page-713 h6 {
        font-size: 1.25rem;
    }
    #content-page-713 .cs-button-solid {
        margin-bottom: 2rem;
    }
    #content-page-713 .cs-color {
        color: var(--primary);
    }
    #content-page-713 p {
        font-size: var(--bodyFontSize);
        line-height: 1.5em;
        text-align: inherit;
        width: 100%;
        margin: 0 0 1rem 0;
        color: var(--bodyTextColor);
    }
    #content-page-713 p:last-of-type {
        margin-bottom: 2rem;
    }
    #content-page-713 p a {
        font-size: inherit;
        line-height: inherit;
        text-decoration: underline;
        color: var(--primary);
    }
    #content-page-713 ol,
    #content-page-713 ul {
        padding-left: 1.5rem;
        margin: 0 0 2rem 0;
        color: var(--bodyTextColor);
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    #content-page-713 ul li {
        list-style: none;
        color: inherit;
        position: relative;
    }
    #content-page-713 ul li:before {
        /* custom list bullet */
        content: "";
        width: 3px;
        height: 3px;
        background: currentColor;
        opacity: 1;
        border-radius: 50%;
        position: absolute;
        display: block;
        top: 0.625rem;
        left: -0.75rem;
    }
    #content-page-713 .cs-image-group {
        /* scales the whole section down and ties the font size to the vw and stops at 70% of the vale of 1em, changes at desktop */
        font-size: min(1vw, 1em);
        /* everything inside this box is in ems so we can scale it all down proportionally with a font size */
        width: 33.875em;
        height: 48.3125em;
        
        /* prevents flexbox from squishing it */
        flex: none;
        position: relative;
        /* flips it horizontally */
        transform: scaleX(-1);
    }
    #content-page-713 .cs-picture {
        width: 33.875em;
        height: 40.4375em;
        border-radius: 17.8125em;
        border: 0.75em solid #ffffff;
        background-color: #f7f7f7;
        /* prevents border from affecting height and width */
        box-sizing: border-box;
        /* clips img tag corners */
        overflow: hidden;
        
        position: absolute;
        top: 0;
        left: 0;
        animation-duration: 0.5s;
    }
    #content-page-713 .cs-picture img {
        width: 100%;
        height: 100%;
        /* makes it act like a background image */
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        /* flips the image to its original orientation */
        transform: scaleX(-1);
    }
    #content-page-713 .cs-flower {
        width: 15.625em;
        height: auto;
        display: block;
        position: absolute;
        bottom: -0.675em;
        right: -1em;
        z-index: -1;
        transform: rotate(142deg);
    }
    #content-page-713 .cs-sense {
        width: 5em;
        height: auto;
        position: absolute;
        top: -0.25em;
        left: 0.625em;
        transform: rotate(90deg);
    }
    #content-page-713 .cs-background {
        
    }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #content-page-713 .cs-container {
        flex-direction: row;
        align-items: flex-start;
        margin-top: 5rem;
    }
    #content-page-713 .cs-image-group {
        display: block;
        right: 0.25rem;
    }
    #content-page-713 .cs-background {
        width: 100%;
        height: 100%;
        
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
    }
    #content-page-713 .cs-background img {
        width: 100%;
        height: 100%;
        opacity: 0.2;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }
}


/* Large Desktop 1300px */
@media only screen and (min-width: 81.25rem) {
    #content-page-713 .cs-image-group {
        /* position absolute so we can have it overflow the container as seen in the design. */
        font-size: inherit;
        
        top: 3rem;
        right: 0.25rem;
    }
    #content-page-713 .cs-background {
        width: 100%;
        /* with the left edge always positioned at the center line, we push left of the center line by 335px.  This ensures that this element will stay exactly in this position no matter how wide the screen gets */
        margin-left: 20.9375rem;
        right: auto;
        /* sets the left edge of the element to be at the center line */
        
    }
}

/* Ensure no unwanted margins or paddings */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Container styling */
.container {
    width: 80%;
    margin: auto;
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.tab-button {
    padding: 10px 20px;
    border: none;
    background-color: #f1f1f1;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tab-button.active {
    background-color: #4CAF50;
    color: white;
}

/* Keyframes for fade-in and fade-out animations */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(20px);
    }
}

.tab-content {
    display: none;
    padding: 20px;
    border: 1px solid #ccc;
    margin-top: 10px;
}

.tab-content.active {
    display: block;
    animation: fadeIn 0.5s forwards;
    background-image: url('back.png');
    background-attachment: fixed; /* This creates the parallax effect */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.tab-content.inactive {
    animation: fadeOut 0.5s forwards;
}



/* fotter */

/*-- -------------------------- -->
<---          Footer            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #cs-footer-1292 {
        padding: var(--sectionPadding);
        padding-bottom: 1.25rem;
        box-sizing: border-box;
        overflow: hidden;
        position: relative;
        z-index: 10;
        background: black;
        /* Navigation Links */
    }
    #cs-footer-1292 .cs-container {
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        column-gap: 1.5rem;
        row-gap: 2.25rem;
    }
    #cs-footer-1292 .cs-logo-group {
        /* takes up all the space, lets the other ul's wrap below it */
        width: 100%;
        position: relative;
    }
    #cs-footer-1292 .cs-logo {
        width: 12.3125rem;
        height: auto;
        display: block;
        /* 20px - 24px */
        margin: 0 0 clamp(1.25rem, 2vw, 1.5rem) 0;
    }
    #cs-footer-1292 .cs-logo-img {
        width: 100%;
        height: auto;
    }
    #cs-footer-1292 .cs-logo-img.dark {
        display: none;
    }
    #cs-footer-1292 .cs-text {
        font-size: 0.875rem;
        line-height: 1.5em;
        /* 20px - 36px */
        margin: 0 0 clamp(1.25rem, 3vw, 2.25rem);
        width: 78%;
        max-width: 15rem;
        color: var(--bodyTextColor);
    }
    #cs-footer-1292 .cs-link {
        font-size: 0.875rem;
        line-height: 1.5em;
        text-decoration: none;
        margin: 0;
        color: var(--headerColor);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 0.75rem;
        transition: color 0.3s;
    }
    #cs-footer-1292 .cs-link:hover {
        color: var(--primary);
    }
    #cs-footer-1292 .cs-nav {
        width: 45%;
        max-width: 11.25rem;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        gap: 1rem;
    }
    #cs-footer-1292 .cs-nav-li {
        list-style: none;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }
    #cs-footer-1292 .cs-header {
        font-size: 1rem;
        line-height: 1.2em;
        font-weight: 700;
        margin-bottom: 0.5rem;
        color: var(--headerColor);
        position: relative;
        display: block;
    }
    #cs-footer-1292 .cs-nav-link {
        font-size: 0.875rem;
        text-decoration: none;
        line-height: 1.5em;
        width: auto;
        color: var(--bodyTextColor);
        position: relative;
        display: inline-block;
        transition: color 0.3s;
    }
    #cs-footer-1292 .cs-nav-link:before {
        /* underline */
        content: "";
        width: 0%;
        height: 0.125rem;
        background: currentColor;
        opacity: 1;
        position: absolute;
        display: block;
        bottom: -0.125rem;
        left: 0;
        transition: width 0.3s;
    }
    #cs-footer-1292 .cs-nav-link:hover {
        color: var(--primary);
    }
    #cs-footer-1292 .cs-nav-link:hover:before {
        width: 100%;
    }
    #cs-footer-1292 .cs-bottom {
        max-width: 80rem;
        margin: auto;
        /* 48px - 100px */
        margin-top: clamp(3rem, 9vw, 6.25rem);
        /* 20px - 32px */
        padding: clamp(1.25rem, 3vw, 2rem) 0 0 0;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        column-gap: 2.25rem;
        row-gap: 0.75rem;
    }
    #cs-footer-1292 .cs-copyright,
    #cs-footer-1292 .cs-copyright-link {
        font-size: 0.875rem;
        line-height: 1.5em;
        color: var(--bodyTextColor);
    }
    #cs-footer-1292 .cs-copyright {
        text-align: center;
        width: 100%;
    }
    #cs-footer-1292 .cs-copyright-link {
        text-decoration: none;
        transition: color 0.3s;
    }
    #cs-footer-1292 .cs-copyright-link:hover {
        color: var(--secondary);
    }
    #cs-footer-1292 .cs-floater {
        width: 31.625rem;
        height: 31.625rem;
        margin-left: 34.375rem;
        border-radius: 50%;
        border: 2px solid var(--primary);
        opacity: 0.1;
        display: none;
        position: absolute;
        left: 50%;
        top: 0;
        z-index: -1;
    }
    #cs-footer-1292 .cs-floater:before {
        content: "";
        width: 44.6875rem;
        height: 44.6875rem;
        border: 2px solid var(--primary);
        border-radius: 50%;
        opacity: 0.6;
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #cs-footer-1292 .cs-floater:after {
        content: "";
        width: 60.1875rem;
        height: 60.1875rem;
        border: 2px solid var(--primary);
        border-radius: 50%;
        opacity: 0.3;
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #cs-footer-1292 .cs-container {
        row-gap: 0;
        flex-direction: row;
        flex-wrap: nowrap;
        column-gap: 5.5rem;
        row-gap: 2.5rem;
    }
    #cs-footer-1292 .cs-nav {
        width: auto;
    }
    #cs-footer-1292 .cs-bottom {
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    #cs-footer-1292 .cs-copyright {
        text-align: left;
        width: auto;
        margin-right: auto;
    }
    #cs-footer-1292 .cs-floater {
        display: block;
    }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #cs-footer-1292 .cs-container {
        max-width: 80rem;
        flex-wrap: nowrap;
        /* align everything to the right */
        justify-content: flex-end;
        column-gap: clamp(2.5rem, 6vw, 5.25rem);
    }
    #cs-footer-1292 .cs-logo-group {
        width: 30%;
        max-width: 24.1875rem;
        /* pushes away from everything to the right */
        margin-right: auto;
    }
    #cs-footer-1292 .cs-text {
        width: 100%;
    }
    #cs-footer-1292 .cs-graphic {
        display: block;
    }
}

                                






                                
